

  <button class="btn btn-lg" (click)="open()">Launch the Custom Form</button>

  
<div class="row mt-2">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="myclass" id="dropdownBasic1" ngbDropdownToggle>Select Cities</button>
      <div ngbDropdownMenu class="dropdownMenu">
        <h2>Popular Cities</h2>
        <ul class="list-unstyled">
          <li class="active state" name="delhi"> Delhi</li>
          <li class="state" ngbDropdownItem name="Chennai">Chennai</li>
          <li class="state" ngbDropdownItem name="Faridabad">Faridabad</li>
          <li class="state" ngbDropdownItem name="Ghaziabad">Ghaziabad</li>
          <li class="state" ngbDropdownItem name="Gurgaon">Gurgaon</li>
          <li class="state" ngbDropdownItem name="Mumbai">Mumbai</li>
          <li class="state" ngbDropdownItem name="Pune">Pune</li>
          <li class="state" ngbDropdownItem name="Ranchi">Ranchi</li>
          <li class="state" ngbDropdownItem name="Noida">Noida</li>
        </ul>
      </div>
    </div>
  </div>

